.SearchResults{
    margin-bottom: 50px;
}
.ButtonS{
    width: 100%;
    padding: 10px 15px;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid black;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1ED760;
    margin-bottom: 2px;
}
.ButtonS:hover{
background-color: #1ED760;
color: white;
}