.deleteB{
    color: white;
    font-family: 'Goldman', cursive;
    font-weight: 800;
    padding: unset;
    background: unset;
    border: unset;
    display: block;
    margin-left: auto;
    top: 0px;
}